<div id="expanded_book">
  <span class="title"><%= book.title %></span>
  <span class="author">by <%= book.author %></span>
  <p>Enter the price of the most expensive textbook you want to be emailed about if you're buying, or the 
  minimum price you're willing to sell at.</p>
  <form>
    $<input type="text" name="price" />(must be 0 or higher, rounded to the nearest dollar)
    <button type="button">Buy</button>
    |
    <button type="button">Sell</button>
  </form>
</div>
