<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<meta charset="utf-8">
	<title>Tartan Textbooks</title>
  <meta name="description" content="One-stop shop for all your textbook needs. Search, compare, list, and buy. Carnegie Mellon University.">
	<meta name="author" content="Karan Sikka, Ilter Canberk, Matt Schallert, Carnegie Mellon University">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="stylesheet" href="stylesheets/base.css">
	<link rel="stylesheet" href="stylesheets/skeleton.css">
	<link rel="stylesheet" href="stylesheets/layout.css">
	<link rel="stylesheet" href="stylesheets/custom.css">
	<link rel="stylesheet" href="stylesheets/animations.css">

	<!--[if lt IE 9]>
		<script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
	<link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'> <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34402766-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body style="background: url('/images/background.png')  center center fixed;" >



	<!-- Primary Page Layout
	================================================== -->

	<div class="container">
		<div class="paper">
		<div class="nine columns" id="explanation" style="margin-top: 20px; padding-bottom:60px;">
			<h1 class="remove-bottom">Tartan Textbooks</h1>
			<hr />
			<div class="two-third column">
			<h3>Search, buy, and sell with ease</h3>
      <p><ul>
        <li>Link to ScheduleMan or Schedule Plus and find books fast</li>
        <li>Get instant email notifications of deals on campus</li>
        <li>Compare prices accross Half, Amazon, and more</li>
      </ul></p>
		</div>
		</div>
		</div>

		<div class="paper loginpane">
		<div class="four columns" style="margin-top: 96px">
			<h4 style="margin-bottom:20px;">Get started</h4>
      <form action="/andrew" method="POST">
        <p><label style="display:inline; margin-right:15px;" for="andrew_id">Andrew ID</label>
        <input name="andrew_id" type="text" id="regularInput" placeholder="" style="width:100px; height:26px; display:inline;"/></p>
        <p><input name="password" type="password" id="regularInput" placeholder="Password"></p>
        <p><button type="submit">Go</button></p>
      </form>
      <!-- AJAX Login and Flash Messages -->
      <script>
      $('document').ready(function(){
        $('input[type="password"]').hide();
        $('form').submit(function(){
          var self = this;
          $.post('/andrew',$(self).serialize(), function(res){
            //success field will always be present
              //redirect field is present iff success is true.
              //if success if false, password?.
                //if password, make password visible
                //else, inject flash

            if(res.success) {
              $("#explanation").animate({
                marginLeft:'-1000px'
              }, 900);
             
              $(".loginpane").animate({
                marginLeft:'-1000px'
              }, 1300);
              document.location.href = res.redirect;
              if(res.redirect === '/') document.location.reload(true);
            } else {
              if(res.password && !$('input[type="password"]').is(':visible')) {
                $('input[type="password"]').show().focus();
              } else {
                $('#flash_messages').html(res.flash);
              }
            }
          });
          return false;
        });
      });
      </script>
      <div id="flash_messages">
        <% if(!(typeof flash ==="undefined")) { %>
          <% var errors = flash.error || []; %>
          <% for(var i = 0; i < errors.length; i++) { %>
            <div class="error"><%= errors[i] %></div>
          <% } %>

          <% var infos = flash.info || []; %>
          <% for(var i = 0; i < infos.length; i++) { %>
            <div class="info"><%= infos[i] %></div>
          <% } %>
        <% } %>
      </div>
		</div>

		

		</div>
	</div><!-- container -->

  <style>
    footer {
      position:absolute;
      bottom:0;
      height:30px;
      font-style:italic;
      text-align:center;
      width:100%;
      font-size:.85em;
    }
  </style>

  <footer>
  Copyright &copy; 2012-2013
  </footer>

<!-- End Document
================================================== -->
</body>
<script>
$(".loginpane").animate({
    top:'0'
  }, 1200);
</script>
</html>
