<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>CMU Bookstore</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="stylesheets/base.css">
  <link rel="stylesheet" href="stylesheets/skeleton.css">
  <link rel="stylesheet" href="stylesheets/layout.css">
  <link rel="stylesheet" href="stylesheets/custom.css">

  <!--[if lt IE 9]>
    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Favicons
  ================================================== -->
  <link rel="shortcut icon" href="images/favicon.ico">
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  <link href='https://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'> <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
</head>
<body style="background: url('images/background_content.png')  center center fixed;">
     <img id="ajaxloader" src="/images/ajax-loader.gif" style="position:absolute;top:20px;left:20px;" />



  <!-- Primary Page Layout
  ================================================== -->

  <div id="modalbackground">
    <div id="modalwrapper">
        <span class="deletebutton">
          <img src="/images/delete.png" />
        </span>
      <h1>Welcome. Here are tips on how to use this site:</h1>
      <div id="helpmodal">
        <img id="modalimage" src="/images/NUX.jpg" />
      </div>
    </div>
  </div>
  
  <nav>
    <ul>
      <li><img onclick="toggleHelpModal()" src="/images/help.png" alt="Help" /></li>
      <!--<li><img src="" alt="Schedule" /></li>-->
      <li><a href="/logout"><img src="/images/logout.png" alt="Log Out" /></li></a>
    </ul>
  </nav>
  <div class="bookshelf">
    <a style="position:absolute; top:0; left:-8em;" href="/logout">Logout</a>
    <div class="top"></div>
    <div class="middle">
      <div class="middle_container">
        <div id="list-all"></div>
      </div>
    </div>
    <div class="bottom"></div>
  </div>
  <div class="container">
      <div class="nine columns large_search">
        <h2 class="bevel">Search for your books by...</h2>

      <form class="search" method="GET" action="/search">
        <input type="text" id="course_number" name="course_number" class="large_box" placeholder="Course number">
        <input type="text" id="course_name" name="course_name" class="large_box" placeholder="Course name">
        <input type="text" id="textbook_name" name="textbook_name" class="large_box" placeholder="Textbook name">
        <hr id="hr">
        <input type="text" id="scheduleurl" name="surl" class="large_box" placeholder="Paste the URL of your ScheduleMan or Schedule +">
      </form>
    </div>
    <div class="nine columns item_list" id="search-results">
        <!-- <div class="papers">sd</div>
        <div class="papers">sd</div> -->
    </div>
  </div>

<!-- End Document
================================================== -->
</body>
<script src="/javascripts/script.js"></script>
<script>

  $('.course_number').keypress(function(e) {
    if(e.which == 13) {
      jQuery("form.search").submit();
    }
  });

  $('form.search').keypress(function(e){
    if(e.which == 13) {
        $(".bevel").animate({
          paddingBottom:'10px'
        }, 900);

        $(".large_search").animate({
          marginTop:'25px'
        }, 900)

        $("hr").slideUp();
    }
  });

  function toggleHelpModal() {
    $('#modalbackground').toggleClass('nodisplay');
  }

  <% if( !firstTime ) { %>
  toggleHelpModal();
  <% } %>

  $('#modalbackground').click(toggleHelpModal);

  $('#modalwrapper').click(function(){
    return false;
  });

  $('#modalwrapper .deletebutton').click(toggleHelpModal)
</script>
</html>
