<img id="ajaxloader" src="/images/ajax-loader.gif" />
<div id="container">
  <header>
  <span id="logo">Tartan Textbooks</span>
  <span id="auth-details">
    <% if(!user) { %>
    <form>
      <label>Andrew ID</label><input type="text" name="andrew_id"/><button class="invisible" type="submit"></button>
    </form>
    <% } else { %>
      <span><p>Logged in: <%= user.name %>  | <a href="/logout" id="logout">Log out</a><p><span>
    <% } %>
  </header>
  <div id="main" class="clearfix">
    <div id="search-wrapper">
      <a class="search" href="#">Search</a> | <a class="schedule" href="#">Schedule</a>
      <div id="search">
        <div id="search-nav">
          <form class="search" method="GET" action="/search">
            <input placeholder="Course #" type="text" name="course_number" />
            <input placeholder="Course Name" type="text" name="course_name" />
            <input placeholder="Textbook Name" type="text" name="textbook_name" />
            <button type="submit" style="display:none">Enter</button>
          </form>
          <form class="schedule" method="GET" action="/search">
            <input placeholder="URL of a Schedule Plus or ScheduleMan schedule page" type="text" name="surl" size=50 />
            <button type="submit">Submit</button>
          </form>
        </div>
        <div id="search-results" class="panel">
        </div>
      </div>
    </div>

    <div id="personal-list-wrapper">
      Buy list:
      <div id="buy-list" class="panel">
      </div>
      Sell list:
      <div id="sell-list" class="panel"></div>
    </div>
  </div>
</div>
