  <img id = "ajaxloader" style="position:absolute;left:800px;"src = "/images/ajax-loader.gif" />
  <a href="#" method="GET" class="logout" action="/log_out">Log Out</a>
  <h1>The Unofficial CMU Textbook Exchange</h1>

  <div id="andrew">
    <h1>Enter your andrew-id:</h1>
    <form method="POST" action="/andrew">
      <input type="text" name="andrew_id" />
      <button type="submit">Enter</button>
    </form>
  </div>

  <div id="sell">
    <h1>List textbooks you want to buy or sell:</h1>
    <p>Start typing into any of the fields to begin searching for textbooks.</p>

    <h2>Search</h2>
    <form method="GET" action="/search">
      <table>
        <tr>
          <td>Course Num.</td>  <td>Course Name</td>  <td>Textbook Name</td>
        </tr>
        <tr>
          <td><input type="text" name="course_number" /></td>
          <td><input type="text" name="course_name" /></td>
          <td><input type="text" name="textbook_name" /></td>
        </tr>
      </table>
      <button type="submit" style="display:none">Enter</button>
    </form>

      </div>
