<h1>How it works:</h1>
<ol class="splash">
  <h2><li>
    Sign in with your Andrew ID</h2>
    <p>Enter your andrew id and go! It's up to you to have a password or not.</p>
  </li>
  <h2><li>
    Link your schedule, or add courses/textbooks</h2>
    <p>Enter a schedule plus url, or use our amazing search to find the textbooks you want to buy and sell</p>
  </li>
  <h2><li>
    Get notified about buy/sell opportunities</h2>
    <p>We'll send you an email when something is available within your price range.</p>
  </li>
</ol>

<button type="button">Start!</button>

