<h1>Set a password</h1>
<form method="POST" action="/user">
  <label>Username<h3 style="display:inline"><%= user.andrew_id %></h3></label><br />
  <input type="hidden" value="<%= user._id.toString() %>" name="emailconf" />
  <label>Password<input type="password" name="password"/></label><br />
  <button type="submit">Continue</button>
</form>
