<h1>Settings for <%= doc.name %></h1>
<form>
  <label>Username<h3><%= doc.andrew_id %></h3></label>
  <label>Password<input type="password" /></label>
  <label>Schedule URL<input type="text" /><button type="button">Add</button></label>
  <ul>
    <li>Url would be here</li>
  </ul>
  <ul>
    <li>Book would be here</li>
  <ul>
  <button type="submit">Continue</button>
</form>
