.loginpane
{
	position:absolute;
	top:-500px;
	margin-left: 20px;

}

.bookshelf 
{
    position:fixed;
    right:0;
    top:0;
    background: url('../images/bookshelf_middle.png');
    background-size:100% auto;;
    background-repeat:repeat-y;
    background-position:center;
    width:360px;
    height:100%;
    box-shadow:-2px 2px 20px #333;
    overflow: hidden;
}

.bookshelf .top
{
	position: absolute;
	top:0;
	z-index:1;
	width:100%;
	height:200px;
	background: url('../images/bookshelf_top.png');
  background-size:100% auto;;
  background-repeat:no-repeat;
  background-position:top;
    display: inline-block;

}

.bookshelf .bottom
{
  position: absolute;
	z-index:1;
  bottom: 0px;
	width:100%;
	height:200px;
  display: inline-block;
	background: url('../images/bookshelf_bottom.png');
    background-size:100% auto;;
    background-repeat:no-repeat;
    background-position:bottom;
}

.large_search
{
	margin-top: 140px;
	text-align:center;
}

.large_search h2
{
	font-style:italic;
	padding-bottom:40px;
}

.bevel {
  text-shadow: hsla(0, 100%, 100%, 0.746094) 0px 1px 0px;
}

input.large_box
{
	width:360px;
	margin-left: auto;
	margin-right: auto;
	height:30px;
	font-size:14px;
	margin-top:5px;
	margin-bottom:5px;
	padding-left:15px;

}
.large_search hr 
{
	margin-top:25px;
	margin-bottom:25px;
	width:0;
	margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
}

.large_search hr:before 
{
	position:absolute;
	content:'or';
	margin-top: -12px;
	font-size: 20px;
	text-align:center;
	color:#888;
}

.large_search h2
{
	color:#444;
}

.middle {
  position: absolute;
  top:0;
  height: 100%;
  right: 0px;
  padding: 0px;
  padding-right: 15px;
  padding-left: 15px;
  display: inline-block;
  z-index: 2;
  display: block;
  overflow: scroll;
}

.middle_container {
  margin-top: 30px;
  width: 100%;
  overflow: scroll;
}

.listing {
  z-index: 3;
  display: inline-block;
  height: 60px;

  background-color: white;
  /*width: 100%;*/
  /* fix for collapsed box when only one is visible */
  width: 330px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0px;
  margin-top: 10px;
  /* fix for collapsed box when only one is visible */
  margin-bottom:5px;
  -webkit-box-shadow: 
        1px 1px   0 rgba(0,   0,   0,   0.100), 
        3px 3px   0 rgba(255, 255, 255, 1.0), 
        4px 4px   0 rgba(0,   0,   0,   0.125);
}

.details {
  padding-left: 5px;
  padding-right: 10px;
  padding-top: 5px;
}

.details h2 {
  font-family: 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 20px;
  font-size: 14px;
  vertical-align: middle;
  margin-left: 60px;
}

.details img.tag {
  position: absolute;
  width: 50px;
  margin-right: 10px;
  display: inline;
  margin-top: 10px;
}

.listing .deletebutton {
  display: none;
  float: right;
  margin-top: -60px;
  cursor: pointer;
  padding: 3px;
}

.listing:hover .deletebutton {
  display: inline-block
}

.details h3 {
  font-family: 'Open Sans', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 12px;
  font-size: 12px;
  margin-left: 60px;
}

.bold {
  font-style: normal;
  font-weight: bold;
}


.papers {
  background-color: white;
  height: 90px;
  padding: 20px;
  width: 100%;
  margin-top: 25px;
  -webkit-box-shadow: 
        1px 1px   0 rgba(0,   0,   0,   0.100), 
        3px 3px   0 rgba(255, 255, 255, 1.0), 
        4px 4px   0 rgba(0,   0,   0,   0.125), 
        6px 6px   0 rgba(255, 255, 255, 1.0),  
        7px 7px   0 rgba(0,   0,   0,   0.150), 
        9px 9px   0 rgba(255, 255, 255, 1.0),  
        10px 10px 0 rgba(0,   0,   0,   0.175),;
  -moz-box-shadow: 
        1px 1px   0 rgba(0,   0,   0,   0.100), 
        3px 3px   0 rgba(255, 255, 255, 1.0), 
        4px 4px   0 rgba(0,   0,   0,   0.125), 
        6px 6px   0 rgba(255, 255, 255, 1.0),  
        7px 7px   0 rgba(0,   0,   0,   0.150), 
        9px 9px   0 rgba(255, 255, 255, 1.0),  
        10px 10px 0 rgba(0,   0,   0,   0.175);
  box-shadow:
        1px 1px   0 rgba(0,   0,   0,   0.100), 
        3px 3px   0 rgba(255, 255, 255, 1.0), 
        4px 4px   0 rgba(0,   0,   0,   0.125), 
        6px 6px   0 rgba(255, 255, 255, 1.0),  
        7px 7px   0 rgba(0,   0,   0,   0.150), 
        9px 9px   0 rgba(255, 255, 255, 1.0),  
        10px 10px 0 rgba(0,   0,   0,   0.175);
  margin-left:0px;
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
  overflow: hidden;
}

.papers_content {
  position: relative;
  padding-left: 10px;
  padding-top: 10px;
}
.papers:hover {
  height: 280px;
}

.buysell,.pricing {
  float:left;
  width:200px;
}
.pricing {
  margin-left:40px;
  padding-left:20px;
  border-left: solid 1px #dedede;
}
.pricing table {
  font-size:.9em;
}
.pricing table tr { margin-bottom:2px;}
.pricing table tr td:first-child {
  width:150px;
}

.expanded_book h3 {
  font-size:1.2em;
  margin-bottom:0
}
.expanded_book form{ margin-bottom: 10px; }
.buysell form button { float:right; margin: 0; }
.buysell form input { width:4em; margin: auto 15px auto 5px; }
.expanded_book {
  margin-top:25px;
}

.buysell .q {
  font-size:.75em;
}

.papers_content .title {
  margin-top: 10px;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.papers_content .author {
  font-size: 14px;
  display: block;
}

.papers_content .detail {
  font-size: 10px;
  color: #999;
}

.papers_content .required {
  font-style: italic;
  font-size: 12px;
  margin-top: 10px;
}

#search-results {
  margin-bottom: 25px;
}

.green {
  background-color:#22a43e;
  color: #fff;
  text-shadow:none;
  border: none;
}

.blue {
  background-color:#0076be;
  color: #fff;
  text-shadow:none;
  border: none;
}

.green:hover {
  background-color:#248036;
  color: #fff;
  text-shadow:none;
  border: none;
}

.blue:hover {
  background-color:#0068af;
  color: #fff;
  text-shadow:none;
  border: none;
}

#price {
  font-size: 16px;
  width: 30px;
  line-height: 24px;
  margin-left: 3px;
  margin-right: 3px;
}

input:focus {
  outline: none;
}
